<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Email Templating</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<th:block th:if="${newUserRegistered != null}">
    <p th:text="'New user registered with user name: ' + ${registrationForm.userName} + '!'" />
</th:block>

<form action="/registration" method="POST">
    <table>
        <tr>
            <td><label>E-mail Address:</label></td>
            <td><input type="text" id="emailAddress" name="emailAddress"/></td>
        </tr>
        <tr>
            <td><label>User Name:</label></td>
            <td><input type="text" id="userName" name="userName"/></td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td><input type="password" id="password" name="password"/></td>
        </tr>
        <br/>
        <br/>
        <tr>
            <td>
                <button type="submit">Register</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>